/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        mt_layer: mt_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "MT_LAYER";
            bindings =
                <&to>,
                <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
        };
        hr_lmod: hr_lmod {
            compatible = "zmk,behavior-hold-tap";
            label = "HR_LMOD";
            bindings =
                <&kp>,
                <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            global-quick-tap;
            hold-trigger-key-positions = <25 5 6 7 8 9 15 16 17 18 19 25 26 27 28 29>;
            flavor = "tap-preferred";
        };
        hr_rmod: hr_rmod {
            compatible = "zmk,behavior-hold-tap";
            label = "HR_RMOD";
            bindings =
                <&kp>,
                <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            global-quick-tap;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24>;
            flavor = "tap-preferred";
        };
        hr_hold: hr_hold {
            compatible = "zmk,behavior-hold-tap";
            label = "HR_HOLD";
            bindings =
                <&kp>,
                <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
            flavor = "tap-preferred";
            global-quick-tap;
        };
    };

    combos {
        compatible = "zmk,combos";

        backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <8 9>;
            timeout-ms = <20>;
        };

        new_combo {
            bindings = <&kp ESCAPE>;
            key-positions = <17 16>;
            timeout-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            // -----------------------------------------------------------------
            // | Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  |
            // | A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |
            // | Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  |
            //                   | LGUI | SPC | RET | ALT |

            bindings = <
          &kp Q            &kp W                    &kp E              &kp R      &kp T  &kp Y                       &kp U             &kp I            &kp O                    &kp P
&hr_hold LGUI A  &hr_lmod LALT S  &hr_hold LEFT_CONTROL D  &hr_lmod LSHIFT F      &kp G  &kp H           &hr_rmod RSHIFT J  &hr_hold RCTRL K  &hr_rmod RALT L  &hr_hold RGUI SEMICOLON
          &kp Z            &kp X                    &kp C              &kp V      &kp B  &kp N                       &kp M         &kp COMMA          &kp DOT                 &kp FSLH
                                                                       &to 1  &kp SPACE         &kp RET                                &to 5
            >;
        };

        Nav {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans
                        &trans  &trans          &trans          &trans
            >;
        };

        Mouse {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans
                        &trans  &trans          &trans          &trans
            >;
        };

        Media {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans
                        &trans  &trans          &trans          &trans
            >;
        };

        Num {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans
                        &trans  &trans          &trans          &trans
            >;
        };

        Sym {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans
                        &trans  &trans          &trans          &trans
            >;
        };

        Fn {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans
                        &trans  &trans          &trans          &trans
            >;
        };
    };
};
